        <div class="result-wrap">
            <form action="__ROOT__/index.php/Admin/About/more_delete" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__ROOT__/index.php/Admin/About/insert" style="font-size:12px;color:black;"><i class="icon-font"></i>新增人员</a>
                        <i class="icon-font"></i><input type="submit" value="批量删除" style="border:none;background:none;color:black;font-size:12px;"/>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="62%" >
                        <tr>
                            <th class="tc" width="5%"></th>
                            <th width="5%">ID</th>
                            <th width="5%">名字</th>
                            <th>简介</th>
                            <th width="7%">图片</th>
                            <th width="8%">操作</th>
                        </tr>
						<tbody id = "conte">
						<foreach name="list" item="v" >
						
                        <tr>
                            <td class="tc"><input name="id[]" value="{$v.id}" type="checkbox"></td>
                            <td>{$v.id}</td>
                            <td>{$v.name}</td>
                            <td>{$v.jianjie}</td>
							<td>
							<img src="{$v.photo}" width="100px" height="100px" />
							</td>
                            <td>
                                <a class="link-update" href="__ROOT__/index.php/Admin/About/update/id/{$v.id}">修改</a>
                                <a class="link-del" href="__ROOT__/index.php/Admin/About/delete/id/{$v.id}" >删除</a>
                            </td>
                        </tr>
						
						</foreach>
						</tbody>
                    </table>
					<br />
                    <div class="green-black" id="paged">{$page}</div>
                </div>
            </form>
        </div>

